--
-- PostgreSQL database dump
--

\restrict Fv6SLNRaC6lP2UOPOvCLIt2rDOaGmgcrNPvKTyinE7EoOtgxbVI3z9bE33wF6YE

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

-- *not* creating schema, since initdb creates it


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: carreras; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.carreras (
    id integer NOT NULL,
    nombre character varying(300) NOT NULL,
    codigo_demre character varying(10),
    duracion character varying(50),
    vacantes integer,
    arancel integer,
    universidad_id integer NOT NULL
);


--
-- Name: carreras_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.carreras_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: carreras_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.carreras_id_seq OWNED BY public.carreras.id;


--
-- Name: ponderaciones; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ponderaciones (
    id integer NOT NULL,
    carrera_id integer NOT NULL,
    w_lenguaje numeric(5,2) DEFAULT 0 NOT NULL,
    w_matematicas numeric(5,2) DEFAULT 0 NOT NULL,
    w_matematicas2 numeric(5,2) DEFAULT 0 NOT NULL,
    w_ciencias numeric(5,2) DEFAULT 0 NOT NULL,
    w_historia numeric(5,2) DEFAULT 0 NOT NULL,
    w_nem numeric(5,2) DEFAULT 0 NOT NULL,
    w_ranking numeric(5,2) DEFAULT 0 NOT NULL
);


--
-- Name: ponderaciones_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.ponderaciones_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: ponderaciones_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.ponderaciones_id_seq OWNED BY public.ponderaciones.id;


--
-- Name: puntajes_corte; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.puntajes_corte (
    id integer NOT NULL,
    carrera_id integer NOT NULL,
    puntaje_minimo numeric(6,2) NOT NULL,
    ano integer NOT NULL
);


--
-- Name: puntajes_corte_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.puntajes_corte_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: puntajes_corte_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.puntajes_corte_id_seq OWNED BY public.puntajes_corte.id;


--
-- Name: simulaciones; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.simulaciones (
    id integer NOT NULL,
    carrera_id integer,
    puntaje_lenguaje numeric(6,2),
    puntaje_matematicas numeric(6,2),
    puntaje_matematicas2 numeric(6,2),
    puntaje_ciencias numeric(6,2),
    puntaje_historia numeric(6,2),
    puntaje_nem numeric(6,2),
    puntaje_ranking numeric(6,2),
    puntaje_total numeric(7,2) NOT NULL,
    fecha_simulacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: simulaciones_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.simulaciones_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: simulaciones_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.simulaciones_id_seq OWNED BY public.simulaciones.id;


--
-- Name: universidades; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.universidades (
    id integer NOT NULL,
    nombre character varying(200) NOT NULL,
    acreditacion integer,
    sitio_web character varying(255),
    direccion character varying(255),
    latitud numeric(10,7),
    longitud numeric(10,7)
);


--
-- Name: universidades_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.universidades_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: universidades_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.universidades_id_seq OWNED BY public.universidades.id;


--
-- Name: vista_carreras_completa; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.vista_carreras_completa AS
 SELECT u.nombre AS universidad,
    c.nombre AS carrera,
    c.codigo_demre,
    c.vacantes,
    c.arancel,
    c.duracion,
    p.w_lenguaje,
    p.w_matematicas,
    p.w_matematicas2,
    p.w_ciencias,
    p.w_historia,
    p.w_nem,
    p.w_ranking,
    pc.puntaje_minimo,
    pc.ano
   FROM (((public.carreras c
     LEFT JOIN public.universidades u ON ((u.id = c.universidad_id)))
     LEFT JOIN public.ponderaciones p ON ((p.carrera_id = c.id)))
     LEFT JOIN public.puntajes_corte pc ON ((pc.carrera_id = c.id)));


--
-- Name: carreras id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.carreras ALTER COLUMN id SET DEFAULT nextval('public.carreras_id_seq'::regclass);


--
-- Name: ponderaciones id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ponderaciones ALTER COLUMN id SET DEFAULT nextval('public.ponderaciones_id_seq'::regclass);


--
-- Name: puntajes_corte id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.puntajes_corte ALTER COLUMN id SET DEFAULT nextval('public.puntajes_corte_id_seq'::regclass);


--
-- Name: simulaciones id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.simulaciones ALTER COLUMN id SET DEFAULT nextval('public.simulaciones_id_seq'::regclass);


--
-- Name: universidades id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.universidades ALTER COLUMN id SET DEFAULT nextval('public.universidades_id_seq'::regclass);


--
-- Data for Name: carreras; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ponderaciones; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: puntajes_corte; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: simulaciones; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.simulaciones (id, carrera_id, puntaje_lenguaje, puntaje_matematicas, puntaje_matematicas2, puntaje_ciencias, puntaje_historia, puntaje_nem, puntaje_ranking, puntaje_total, fecha_simulacion) FROM stdin;
\.


--
-- Data for Name: universidades; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: carreras_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.carreras_id_seq', 120, true);


--
-- Name: ponderaciones_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.ponderaciones_id_seq', 75, true);


--
-- Name: puntajes_corte_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.puntajes_corte_id_seq', 120, true);


--
-- Name: simulaciones_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.simulaciones_id_seq', 1, false);


--
-- Name: universidades_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.universidades_id_seq', 8, true);


--
-- Name: carreras carreras_codigo_demre_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.carreras
    ADD CONSTRAINT carreras_codigo_demre_key UNIQUE (codigo_demre);


--
-- Name: carreras carreras_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.carreras
    ADD CONSTRAINT carreras_pkey PRIMARY KEY (id);


--
-- Name: ponderaciones ponderaciones_carrera_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ponderaciones
    ADD CONSTRAINT ponderaciones_carrera_id_key UNIQUE (carrera_id);


--
-- Name: ponderaciones ponderaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ponderaciones
    ADD CONSTRAINT ponderaciones_pkey PRIMARY KEY (id);


--
-- Name: puntajes_corte puntajes_corte_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.puntajes_corte
    ADD CONSTRAINT puntajes_corte_pkey PRIMARY KEY (id);


--
-- Name: simulaciones simulaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.simulaciones
    ADD CONSTRAINT simulaciones_pkey PRIMARY KEY (id);


--
-- Name: universidades universidades_nombre_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.universidades
    ADD CONSTRAINT universidades_nombre_key UNIQUE (nombre);


--
-- Name: universidades universidades_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.universidades
    ADD CONSTRAINT universidades_pkey PRIMARY KEY (id);


--
-- Name: carreras ux_carrera_univ; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.carreras
    ADD CONSTRAINT ux_carrera_univ UNIQUE (universidad_id, nombre);


--
-- Name: puntajes_corte ux_pc_carrera_ano; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.puntajes_corte
    ADD CONSTRAINT ux_pc_carrera_ano UNIQUE (carrera_id, ano);


--
-- Name: carreras fk_carrera_univ; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.carreras
    ADD CONSTRAINT fk_carrera_univ FOREIGN KEY (universidad_id) REFERENCES public.universidades(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: puntajes_corte fk_pc_carrera; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.puntajes_corte
    ADD CONSTRAINT fk_pc_carrera FOREIGN KEY (carrera_id) REFERENCES public.carreras(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ponderaciones fk_ponderacion_carrera; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ponderaciones
    ADD CONSTRAINT fk_ponderacion_carrera FOREIGN KEY (carrera_id) REFERENCES public.carreras(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: simulaciones fk_sim_carrera; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.simulaciones
    ADD CONSTRAINT fk_sim_carrera FOREIGN KEY (carrera_id) REFERENCES public.carreras(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict Fv6SLNRaC6lP2UOPOvCLIt2rDOaGmgcrNPvKTyinE7EoOtgxbVI3z9bE33wF6YE

