--
-- PostgreSQL database dump
--

\restrict H0iNMjk2xgwOGe0NRreRGvQCvhQpn3IIz3m2glPnFQTNtwPkp4Qj3PZqp3ks3zP

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: universidades; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: carreras; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ponderaciones; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: puntajes_corte; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: simulaciones; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.simulaciones (id, carrera_id, puntaje_lenguaje, puntaje_matematicas, puntaje_matematicas2, puntaje_ciencias, puntaje_historia, puntaje_nem, puntaje_ranking, puntaje_total, fecha_simulacion) FROM stdin;
\.


--
-- Name: carreras_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.carreras_id_seq', 120, true);


--
-- Name: ponderaciones_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.ponderaciones_id_seq', 75, true);


--
-- Name: puntajes_corte_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.puntajes_corte_id_seq', 120, true);


--
-- Name: simulaciones_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.simulaciones_id_seq', 1, false);


--
-- Name: universidades_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.universidades_id_seq', 8, true);


--
-- PostgreSQL database dump complete
--

\unrestrict H0iNMjk2xgwOGe0NRreRGvQCvhQpn3IIz3m2glPnFQTNtwPkp4Qj3PZqp3ks3zP

